<!DOCTYPE html>
<html>
<head>
    <title>Razvy Pawn - Pret Aur</title>
    <style>
        body {
            background: black;
            color: gold;
            font-family: Arial;
            text-align: center;
            font-size: 60px;
        }

        .price {
            margin: 20px;
        }
    </style>
</head>
<body>

<h1>RAZVY PAWN</h1>

<div class="price" id="p24"></div>
<div class="price" id="p18"></div>
<div class="price" id="p14"></div>
<div class="price" id="p8"></div>

<script>
async function loadPrices() {
    const res = await fetch('/prices');
    const data = await res.json();

    document.getElementById('p24').innerText = "24K: " + data["24K"] + " RON";
    document.getElementById('p18').innerText = "18K: " + data["18K"] + " RON";
    document.getElementById('p14').innerText = "14K: " + data["14K"] + " RON";
    document.getElementById('p8').innerText = "8K: " + data["8K"] + " RON";
}

loadPrices();
setInterval(loadPrices, 600000); // 10 minute
</script>

</body>
</html>
